{% extends 'base.html' %}
{% load static menu_tags cache %}

{% block content %}

{% get_gallery %}

<!-- Categories Section Begin -->
<section class="categories spad">
    <div class="container">
        {% cache 600 articles %}
        <div class="row">
            {% for article in articles %}
            <a href="{{ article.get_absolute_url }}" class="col-lg-3 col-md-6 col-sm-6">
                <div class="categories__item set-bg" data-setbg="{{ article.image.url }}">
                    <div class="categories__hover__text">
                        <h5>{{ article.category.name }}</h5>
                        <p>{{ article.category.posts.count }} articles</p>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
        {% endcache %}
    </div>
    <div class="categories__post">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    {% for post in posts %}
                    {% if forloop.first %}
                    <div class="categories__post__item categories__post__item--large">
                        <div class="categories__post__item__pic set-bg"
                             data-setbg="{{ post.image.url }}">
                            <div class="post__meta">
                                <h4>{{ post.created_at | date:'d'}}</h4>
                                <span>{{ post.created_at | date:'M'}}</span>
                            </div>
                        </div>
                        <div class="categories__post__item__text">
                            <ul class="post__label--large">
                                <li>Vegan</li>
                                <li>Desserts</li>
                            </ul>
                            <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                            <ul class="post__widget">
                                <li>by <span>{{ post.author }}</span></li>
                                <li>3 min read</li>
                                <li>{{ post.get_comments.count }} Comment</li>
                            </ul>
                            <p>{{ post.text }}</p>
                            <a href="{{ post.get_absolute_url }}" class="primary-btn">Read more</a>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            {% for post in posts %}
                            {% if forloop.counter == 2 %}
                            <div class="categories__post__item">
                                <div class="categories__post__item__pic small__item set-bg"
                                     data-setbg="{{ post.image.url }}">
                                    <div class="post__meta">
                                        <h4>{{ post.created_at | date:'d'}}</h4>
                                        <span>{{ post.created_at | date:'M'}}</span>
                                    </div>
                                </div>
                                <div class="categories__post__item__text">
                                    <span class="post__label">Recipe</span>
                                    <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                                    <ul class="post__widget">
                                        <li>by <span>{{ post.author }}</span></li>
                                        <li>3 min read</li>
                                        <li>{{ post.get_comments.count }} Comment</li>
                                    </ul>
                                    <p>{{ post.text }}</p>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                            {% for post in posts %}
                            {% if forloop.counter == 3 %}
                            <div class="categories__post__item">
                                <div class="categories__post__item__pic set-bg"
                                     data-setbg="{{ post.image.url }}">
                                    <div class="post__meta">
                                        <h4>{{ post.created_at | date:'d'}}</h4>
                                        <span>{{ post.created_at | date:'M'}}</span>
                                    </div>
                                </div>
                                <div class="categories__post__item__text">
                                    <ul class="post__label--large">
                                        <li>Vegan</li>
                                        <li>Desserts</li>
                                    </ul>
                                    <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                                    <ul class="post__widget">
                                        <li>by <span>{{ post.author }}</span></li>
                                        <li>3 min read</li>
                                        <li>{{ post.get_comments.count }} Comment</li>
                                    </ul>
                                    <p>{{ post.text }}</p>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                            <div class="categories__post__item__plain set-bg"
                                 data-setbg="{{ post.image.url }}">
                                <div class="categories__post__item__text">
                                    <div class="post__meta">
                                        <h4>08</h4>
                                        <span>Aug</span>
                                    </div>
                                    <ul class="post__label--large">
                                        <li>Vegan</li>
                                        <li>Desserts</li>
                                    </ul>
                                    <h3><a href="{{ post.get_absolute_url }}">This Summer Snacking Cake Is theSweetest
                                        Excuse to...</a></h3>
                                    <div class="post__social">
                                        <span>Share</span>
                                        <a href="#"><i class="fa fa-facebook"></i> <span>82</span></a>
                                        <a href="#"><i class="fa fa-twitter"></i> <span>24</span></a>
                                        <a href="#"><i class="fa fa-envelope-o"></i> <span>08</span></a>
                                    </div>
                                </div>
                            </div>
                            {% for post in posts %}
                            {% if forloop.counter == 4 %}
                            <div class="categories__post__item">
                                <div class="categories__post__item__pic smaller__large set-bg"
                                     data-setbg="{{ post.image.url }}">
                                    <div class="post__meta">
                                        <h4>{{ post.created_at | date:'d'}}</h4>
                                        <span>{{ post.created_at | date:'M'}}</span>
                                    </div>
                                </div>
                                <div class="categories__post__item__text">
                                    <span class="post__label">Smoothie</span>
                                    <h3><a href="{{ post.get_absolute_url }}">This 2-Ingredient Spread Makes Any Egg
                                        Sandwich So Much
                                        Better</a></h3>
                                    <ul class="post__widget">
                                        <li>by <span>{{ post.author }}</span></li>
                                        <li>3 min read</li>
                                        <li>{{ post.get_comments.count }} Comment</li>
                                    </ul>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                        tempor incididunt dolore magna aliqua. Quis ipsum suspendisse ultrices
                                        gravida...</p>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            {% for post in posts %}
                            {% if forloop.counter == 5 %}
                            <div class="categories__post__item">
                                <div class="categories__post__item__pic smaller__large set-bg"
                                     data-setbg="{{ post.image.url }}">
                                    <div class="post__meta">
                                        <h4>{{ post.created_at | date:'d'}}</h4>
                                        <span>{{ post.created_at | date:'M'}}</span>
                                    </div>
                                </div>
                                <div class="categories__post__item__text">
                                    <span class="post__label">Dinner</span>
                                    <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                                    </h3>
                                    <ul class="post__widget">
                                        <li>by <span>{{ post.author }}</span></li>
                                        <li>3 min read</li>
                                        <li>{{ post.get_comments.count }} Comment</li>
                                    </ul>
                                    <p>{{ post.text }}</p>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                            <div class="categories__post__item__small">
                                <img src="{% static 'img/categories/categories-post/quote.png' %}" alt="">
                                <p>Lorem ipsum dolor amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt labore et dolore magna aliqua gravida.</p>
                                <div class="posted__by">Elena T.Jaivy</div>
                            </div>
                            {% for post in posts %}
                            {% if forloop.counter == 6 %}
                            <div class="categories__post__item">
                                <div class="categories__post__item__pic smaller__large set-bg"
                                     data-setbg="{{ post.image.url }}">
                                    <div class="post__meta">
                                        <h4>{{ post.created_at | date:'d'}}</h4>
                                        <span>{{ post.created_at | date:'M'}}</span>
                                    </div>
                                </div>
                                <div class="categories__post__item__text">
                                    <span class="post__label">Drinks</span>
                                    <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                                    <ul class="post__widget">
                                        <li>by <span>{{ post.author }}</span></li>
                                        <li>3 min read</li>
                                        <li>{{ post.get_comments.count }} Comment</li>
                                    </ul>
                                    <p>{{ post.text }}</p>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                            {% for post in posts %}
                            {% if forloop.counter == 7 %}
                            <div class="categories__post__item">
                                <div class="categories__post__item__pic set-bg"
                                     data-setbg="{{ post.image.url }}">
                                    <div class="post__meta">
                                        <h4>{{ post.created_at | date:'d'}}</h4>
                                        <span>{{ post.created_at | date:'M'}}</span>
                                    </div>
                                </div>
                                <div class="categories__post__item__text">
                                    <ul class="post__label--large">
                                        <li>Vegan</li>
                                        <li>Desserts</li>
                                    </ul>
                                    <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                                    <ul class="post__widget">
                                        <li>by <span>{{ post.author }}</span></li>
                                        <li>3 min read</li>
                                        <li>{{ post.get_comments.count }} Comment</li>
                                    </ul>
                                    <p>{{ post.text }}</p>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <div class="col-lg-12 text-center">
                            <div class="load__more__btn">
                                <a href="{% url 'contact:about' %}">Load more</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-md-4">
                    {% include 'blog/include/sidebar.html' %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->
{% endblock %}